/storage/storage.db

bin/

vendor/

*.out
*.test

*.exe
*.dll
*.so
*.dylib

*.prof
*.trace

.idea/
*.iml
*.vscode/
.vscode/
*.code-workspace

*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db

.env
.env.*

internal/**/mocks/
mocks/

tests/data/

config/local.yaml
